/* reset css */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* generics */
body{
    font-family: sans-serif;
}
.status-home{
    background-color: #ADD8E6;
    height: 70px;
    padding: 10px;
}
.status-navbar{
    /* margin top: 10px;
    devo staccare la nav gialla */
}
.navbar{
    background-color: goldenrod;
    justify-content: space-around;
    /* margin-top: 10px; */
}
nav {
    border: 2px dashed black;
    
}

.box-blu{
    background-color: #00008B;
    min-height: 400px;
}
.box-small{
    background-color: #EE81EE;
    min-height: 300px;
    min-width: 700px;
    border: 2px dashed black;
    margin: 50px auto;
    
    
}
.left-col{
    background-color: #1C90FF;
    flex-basis: 60%;
    min-height: 400px;
    border: 2px dashed black;
}
.right-col{
background-color: #FFBFCB;
flex-basis: 40%;
border: 2px dashed black;
}
main{
    margin: 1px auto;
}
.left-col-blackwall{
    background-color: #EF8080;
    flex-basis: 30%;
    min-height: 700px;
    border: 2px dashed black;
}
.right-col-blackwall{
    background-color: #20B1A9;
    flex-basis: calc(70%/4);
    border: 2px dashed white;
}

/* utils */
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: center;
    flex-basis: calc(100%/3);
    justify-content: space-between;
}
.flex-col{
    display: flex;
    flex-direction: row;
}
 .pd{
    padding: 10px 10px;
 }
 .flex-box-small{
    display: flex;
    justify-content: center;
    min-height: 300px;
    min-width: 700px;
 }
 .col{
    margin: 30px auto;
    
 }
 .reverse-col{
    flex-direction: row-reverse;
 }
 .wall-box{
    background-color: #D3D3D3;
    padding: 10px;
    
 }
 .column-green{
    background-color: #228B21;
   border: 2px dashed black;
    min-height: 700px;
    
    
}
.black-wall{
    background-color: #23272A;
    padding: 10px;
}
.footer-wall{
    background-color: #23272A;
    min-height: 70px;
    padding: 10px;
}
.footer-box{
    background-color: #7FFFD3;

}
.flex-footer{
    display: flex;
    justify-content: space-between;
}
.footer-push{
    background-color: #EF8080;
    color: white;
    margin: 20px 0;
}